# Pandas Learning

- is made from matplotib and numpy
- Pandas' representation of data is through a dataframe (table)

In [1]:
import pandas as pd
import numpy as np

california_housing_test = pd.read_csv('../datasets-from-colab/california_housing_test.csv')
dataset = {
    'column1': np.random.rand(10),  # 10 random floats between 0 and 1
    'column2': np.random.randint(0, 100, 10),  # 10 random integers between 0 and 99
    'column3': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A'] # 10 categorical values
}

sample_df = pd.DataFrame(dataset)

In [ ]:
# Let's VIEW our dataframe!
sample_df

    column1  column2 column3
0  0.866181       17       A
1  0.423965       57       B
2  0.196611       88       C
3  0.989635       93       A
4  0.118423       70       B
5  0.944965       33       C
6  0.701658       90       A
7  0.821786       33       B
8  0.369496       81       C
9  0.776235       10       A

In [ ]:
"""
  .head()

  RETURNS THE FIRST 5 ROWS OF THE DATAFRAME
"""
california_housing_test.head()

In [9]:
california_housing_test.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
"""
  .shape

  RETURNS NO. OF ROWS, NEXT COLUMNS
"""
california_housing_test.shape

(3000, 9)

In [ ]:
"""
  .info()

  RETURNS INFO ABOUT THE DATAFRAME
"""
california_housing_test.info()

In [8]:
"""
  .describe()

  RETURNS A SUMMARY OF THE DATAFRAME
"""
california_housing_test.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000

In [ ]:
"""
  .values

  RETURNS ALL THE VALUES IN ARRAY FORMAT
"""
print(sample_df.values)

In [7]:
"""
  .columns

  RETURNS THE COLUMNS OF THE DATAFRAME
"""
california_housing_test.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [ ]:
"""
  .index

  RETURNS THE INDEX OF THE DATAFRAME
"""
california_housing_test.sample

In [ ]:
"""
  .index

  RETURNS THE INDEX OF THE DATAFRAME
"""
california_housing_test.index