# Different types of File
There are different files types you can read other than `.csv`
<table>
<tr>
<td><code>.xslx</code></td>
<td><code>.parquet</code></td>
<td><code>.feather</code></td>
<td><code>.html</code></td>
<td><code>.xml</code></td>
<td><code>.sql</code></td>
<td><code>your system clipboard</code></td>
</tr>
</table>

In [1]:
import pandas as pd

In [ ]:
ExcelFile = pd.read_excel()

# Accessing Data
using `.loc`

In [8]:
import pandas as pd
import numpy as np

dataset = {
    'column1': np.random.rand(10),  # 10 random floats between 0 and 1
    'column2': np.random.randint(0, 100, 10),  # 10 random integers between 0 and 99
    'column3': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A'] # 10 categorical values
}

sample_df = pd.DataFrame(dataset)

In [ ]:
# find a specific index of a row
sample_df.index = sample_df['1']

In [ ]:
# Simple method to find a row
sample_df.loc[1]

column1    0.556107
column2          29
column3           B
Name: 1, dtype: object

In [ ]:
# method 2: getting a number of column and row data fields
#            [#row, [#column]]
sample_df.iloc[1:5, [0,2]]

    column1 column3
1  0.783396       B
2  0.937390       C
3  0.139293       A
4  0.016658       B

In [14]:
# method 3: getting a specific column you want
sample_df.loc[1:5, ['column1', 'column2']]

    column1  column2
1  0.783396       44
2  0.937390       73
3  0.139293       31
4  0.016658       60
5  0.489937       79

In [17]:
# method 4: changing a data field to what you want
sample_df.loc[1, ['column2']] = 50
sample_df.head()

    column1  column2 column3
0  0.674773       66       A
1  0.783396       50       B
2  0.937390       73       C
3  0.139293       31       A
4  0.016658       60       B