# Advanced Subsetting Data 
using `.loc` and `.iloc`

In [10]:
import pandas as pd
import numpy as np

dataset = {
    'column1': np.random.rand(10),  # 10 random floats between 0 and 1
    'column2': np.random.randint(0, 100, 10),  # 10 random integers between 0 and 99
    'column3': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], # 10 categorical values
    'column4': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
}

sample_df = pd.DataFrame(dataset)

In [ ]:
# find a specific index of a row
sample_df.index = sample_df['1']

In [ ]:
# method 1.1: Simple method to find a row
sample_df.loc[1]

column1    0.556107
column2          29
column3           B
Name: 1, dtype: object

In [18]:
# method 1.2: using tuple of string data ('IndexedColumn', 'data')
# FIRST Let's Index the DataFrame by a tuple of strings
indexedDF = sample_df.set_index(['column3', 'column4'])

indexedDF.loc[('column3', 'A'):('column4', 'c')]

                  column1  column2
column3 column4
A       a        0.963532       73
B       b        0.535173       18
C       c        0.117854       88
D       d        0.133000       20
E       e        0.141931       42
F       f        0.604711       88
G       g        0.988164       51
H       h        0.258642       82
I       i        0.814519       23
J       j        0.112002       73

In [ ]:
# method 1.3: getting a specific column you want
sample_df.loc[1:5, ['column1', 'column2']]

    column1  column2
1  0.783396       44
2  0.937390       73
3  0.139293       31
4  0.016658       60
5  0.489937       79

In [ ]:
# method 2: getting a number of column and row data fields
#            [#row, [#column]]
sample_df.iloc[1:5, 0:2]

    column1 column3
1  0.783396       B
2  0.937390       C
3  0.139293       A
4  0.016658       B

In [3]:
# method 4: changing a data field to what you want
sample_df.loc[1, ['column2']] = 50
sample_df.head()

    column1  column2 column3
0  0.911777       74       A
1  0.669398       50       B
2  0.215456       47       C
3  0.223186       20       A
4  0.507611       39       B