# Creating Pivot Tables
Before proceeding here, make sure to study <a href="./7-grouped-summaries.ipynb">Creating Grouped Summaries</a>.

Pivot tables are commonly using in excel/spreadsheet to summarize data

In [ ]:
%%capture
import pandas as pd
california_housing_test = pd.read_csv('../datasets-from-colab/california_housing_test.csv')

sample_df = pd.DataFrame(california_housing_test)
sample_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
"""
    <dataframe>.pivot_table(values?, index?, columns?, ,aggfunc[]?, margins?) 

    PIVOTING A TABLE 
        if we don't want to use `.groupby` shown below, 
        follow the code.  
"""
# sample_df.groupby('households')['population'].mean()
sample_df.pivot_table(values='population', index='households')

"""
    values  = `the column you want to summarize`
    index   = `column you want to groupby`
    columns = 

    FOR Example
    > get the mean of population by/based on age
    > get the mean of values based on category
"""

In [ ]:
"""
    aggfunc=<value[]>

    We can also pass aggregate functions inside
"""
sample_df.pivot_table(values='population', index='households', aggfunc=['mean','median'])

                 mean     median
           population population
households
2.0               8.0        8.0
3.0               6.5        6.5
7.0              33.0       33.0
8.0              23.0       23.0
9.0              49.6       22.0
...               ...        ...
3293.0         8768.0     8768.0
3958.0        10877.0    10877.0
4176.0         7604.0     7604.0
4855.0        11935.0    11935.0
4930.0         7431.0     7431.0

[1026 rows x 2 columns]

In [ ]:
"""
    columns=<value>

    To add another column similar to:
    sample_df.groupby('population', 'total_bedrooms')['households'].mean()

    values = literally the data fields that appear
    index = rows data based on
    columns = 

    Then do:
""" 
sample_df.pivot_table(values="population", index="total_bedrooms", columns="households")

In [ ]:
"""
    fill_value=0

    We have a lot of NaN data, 
    to have a default value do:
"""
sample_df.pivot_table(values="population", index="total_bedrooms", columns="households", fill_value=0)

In [ ]:
"""
    margins=True     

    If we want to see the TOTAL/summary value of ALL
"""

sample_df.pivot_table(values="population", index="total_bedrooms", columns="households", fill_value=0, margins=True)