# Accessing Date Components
Referring to date formats like `yyyy-mm-dd` or others.
Basically you can split them if you want to by using `.dt.<type>`

In [3]:
# EXAMPLE

import pandas as pd

df = pd.DataFrame({
    'date': pd.date_range(start='2024-01-01', periods=5, freq='D')
})
 
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df

        date  year  month  day
0 2024-01-01  2024      1    1
1 2024-01-02  2024      1    2
2 2024-01-03  2024      1    3
3 2024-01-04  2024      1    4
4 2024-01-05  2024      1    5