In [ ]:
import pandas as pd
import numpy as np

In [ ]:
california_housing_test = pd.read_csv('sample_data/california_housing_test.csv')

In [ ]:
data = {
    'column1': np.random.rand(10),  # 10 random floats between 0 and 1
    'column2': np.random.randint(0, 100, 10),  # 10 random integers between 0 and 99
    'column3': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A'] # 10 categorical values
}

sample_df = pd.DataFrame(data)

# Pandas Learning

- is made from matplotib and numpy
- Pandas' representation of data is through a dataframe (table)

In [ ]:
"""
  .head()

  RETURNS THE FIRST 5 ROWS OF THE DATAFRAME
"""
print(california_housing_test.head())

In [ ]:
"""
  .shape

  RETURNS NO. OF ROWS, NEXT COLUMNS
"""
print(california_housing_test.shape)

In [ ]:
"""
  .info()

  RETURNS INFO ABOUT THE DATAFRAME
"""
print(california_housing_test.info())

In [ ]:
"""
  .describe()

  RETURNS A SUMMARY OF THE DATAFRAME
"""
print(california_housing_test.describe())

In [ ]:
"""
  .values

  RETURNS ALL THE VALUES IN ARRAY FORMAT
"""
print(sample_df.values)

In [ ]:
"""
  .columns

  RETURNS THE COLUMNS OF THE DATAFRAME
"""
print(california_housing_test.columns)

In [ ]:
"""
  .index

  RETURNS THE INDEX OF THE DATAFRAME
"""
print(california_housing_test.index)

# Sorting and Subsetting
`.sort_values()` is a very powerful method tha can have multiple parameters and attributes

In [ ]:
"""
  .sort_values(<COLUMN>)

  SORTS DATAFRAME BY COLUMN, LOWEST TO HIGHEST
"""
print(sample_df.sort_values('column1'))

In [ ]:
"""
  .sort_values(<COLUMN>, ascending=False)

  SORTS DATAFRAME BY COLUMN, HIGHEST TO LOWEST
"""
print(sample_df.sort_values(['column1', "column2"], ascending=[True, False]))

Subsetting refers to choosing a specific column in a dataframe

In [ ]:
sample_df['column1']

Getting multiple columns at once

In [ ]:
sample_df[["column1", "column2"]]

Subsetting ROWS

In [ ]:
# sample_df[sample_df["column2"] < 20]
california_housing_test[california_housing_test["housing_median_age"] > 51]

You can also subset rows based on date coditions, although our dataframes don't contain dates, therefore i'll represent it here

```python
sample_df[[sample_df] < "2023-01-30"]
```

Subsetting multiple conditions

```python
  is_lab = dogs["breed" === "Labrador"]
  is_brown = dogs["color" == "Brown"]
  
  dogs[is_lab & is_brown]
```

Although you could as well do this to subset string values

```python
  is_black_or_brown = dogs["color"].isin(["Black", "Brown"])

  dogs[is_black_or_brown]
```